- if current_user.blank?
  - redirect_if_not_logged
- else
  = content_tag(:h2, "Edit order")
  = form_for(@order, url: order_path(@order), method: :put) do |f|
    = render(partial: "form", object: f)
